/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom CSS style starts here */

/* Using a Perfect Fourth modular scale:
   https://www.modularscale.com/?18&px&1.25 */

html {
  background-color: #90CCF4;    /*blue */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.125em; /* 18px / 16px = result */
  line-height: 1.25em; /* 22.5px / 18px = 1.25em */
  padding: 1.5625em; /* 28.125px / 18px = 1.5625em */
  padding-bottom: 3.8147em; /* 68.665px / 18px = 3.8147em */
  text-rendering: optimizeLegibility; /* used as described in HDWWPT */
  text-size-adjust: 100%;
}

h1,
h2 {
  font-family: 'Merriweather', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1{
  font-size: 1.953em; /* 35.156px / 18px = 1.953em */
  line-height: 1em; /* 35.156px / 35.156px = 1em */
  /*padding-bottom: .512em; /* 18px / 35.156px = .4096em */
}

h2{
  font-size: 1.5625em; /* 28.125px / 18px = 1.5625em */
  padding-bottom: .262em; /* 7.373 / 28.125px = .262em */
}

p {
  padding-bottom: 1.25em; /* 22.5px / 18px = 1.25em */
}

/* Responsive media */

img {
  display: block;
  max-width: 100%;
}

.pro-picture {
  background: #A9A9A9; /* darkgray */
  padding: 1.25em; /* 22.5px / 18px = 1.25em */
  margin-top: 1em; /* 18px / 18px = 1em */
  margin-bottom: 1em; /* 18px / 18px = 1em */
}

.pro-picture figcaption {
  padding-top: 0.64em; /* 11.52px / 18px = 0.64em */
  /* Use to not show the caption */
  position: absolute;
  left: -10000px;
}

.links{
  font-size: 1.25em; /* 22.5px / 18px = 1.25em */
  text-align: center;
  line-height: 1.25em; /* 22.5px / 18px = 1.25em */
}

ul{
  display: inline-block;
  list-style-type: disc;
  text-align: left;
}
