/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

html {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.125em; /* 18px / 16px = result */
  line-height: 1.4em; /*About 120% of 18px*/
  padding: 1.22222em 36px; /* I found that using px for the padding works better for the width on a mobile device.*/
}

body {
  background-color: #90CCF4;
}

h1, p {
  padding-bottom: 1.22222em;
}

h1{
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 10em;
  height: auto;
  padding-bottom: 1.22222em
}

/*when dealing with lists use "list-style-type:" */
/*Try and center the image once it gets going*/
/*See end of video for google fonts to customize the fonts*/
